{% extends "layout.html" %}
{% block content %}

    <!-- <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><input type="text" class="form-control" id="search-input" placeholder="Search"></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
       -->

<!--  DROPDOWN W SEARCH N MULTIPLE SELECT -->
    <h4>Postular candidato a ofertas</h4>
    <div class="container">
        <div class="col-md-4 row" >
            <form method="post" id="multiple_select_form" action="{{ url_for('candidate', candidate_id=candidate.id) }}">
            <select name="skills" id="skills" class="form-control selectpicker" data-live-search="true" multiple>
                {% for of in offers %}
                    {% if of.category == candidate.category%}
                        <option value="{{of.id}}">{{of.name}}, ID {{of.id}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="hidden" name="hidden_skills" id="hidden_skills" />
            <input type="submit" name="submit" class="mt-2 btn btn-info" value="Enviar" />
            </form>
        </div>
    </div>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ candidate.category.name }}</a>
                <small class="text-muted">{{ candidate.status.name }}</small>
                <small class="text-muted ml-2">Registrado el {{ candidate.creation_date.strftime('%Y-%m-%d') }}</small>
                {% if current_user in candidate.users %}                
                    <div>
                        <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('update_candidate', candidate_id=candidate.id) }}">Actualizar</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
                    </div>
                {% endif %}
            </div>
            <h2><a class="article-title" href="#">{{ candidate.name }}</a></h2>
            <p class="article-content">{{ candidate.description }}</p>
            
            <p class="font-weight-bold article-content text-justify">Contacto: 
                <ul>
                    {% for ph in candidate.phones %}
                    <li>
                        {{ph.name}}
                    </li>                    
                    {% endfor %}
                </ul>
            </p>
        
            <p class="font-weight-bold article-content">Correo electrónico: 
                <ul>
                    {% for em in candidate.emails %}
                    <li>
                        {{em.name}}
                    </li>                    
                    {% endfor %}
                </ul>
            </p>
        

            <p class="font-weight-bold article-content">Ofertas postuladas:
                <ul>
                    {% if candidate_postulations %}
                        {% for offer in candidate_postulations %}
                        <li>
                            
                            <p>
                                <a href="{{ url_for('offer', offer_id=offer.id) }}">{{offer.offer.name}}</a>
                                 | Estado: {{ offer.status_id }}
                            </p>
                        </li>                    
                        {% endfor %}

                    {% else %}
                        No tiene ofertas asociadas 
                    {% endif %}
                </ul>
            </p>


            {% if candidate.file %}
                <a class="mr-2" href="{{ url_for('analysis', file=candidate.file) }}">Generar análisis</a>
                
                <div>
                    <div class="col-md-12 px-0 mt-5">
                        <h5>Vista previa</h5>
                        <img src="{{ image_file }}" class="img-fluid">
                    </div>
                </div>
            {% else %}
                <div>
                    No se han cargado archivos.
                </div>
            {% endif %}

        </div>


    </article>



    
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.file.label(class="form-control-label") }}
                    
                    {% if form.file.errors %}
                        {{ form.file(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.file.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                            {{ form.file(class="form-control form-control-lg") }}
                    {% endif %}               
                </div>            
                
            </fieldset>
            <div class="border-top pt-3">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>



    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">¿Eliminar candidato?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <form action="{{ url_for('delete_candidate', candidate_id=candidate.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            </div>
        </div>
        </div>
    </div>

{% endblock content %}