{% extends "layout.html" %}
{% block content %}
    {% for candidato in candidatos.items %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ candidato.categoria }}</a>
                <small class="text-muted">{{ candidato.estado }}</small>
                <small class="text-muted ml-2">Registrado el {{ candidato.fecha_creacion.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('candidato', candidato_id=candidato.id) }}">{{ candidato.nombre }}</a></h2>
            <p class="article-content">{{ candidato.cargo_postulante }}</p>
        </div>
        </article>
    {% endfor %}

    {% for page_num in candidatos.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if candidatos.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}"> {{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}"> {{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}

    {% endfor %}

{% endblock content %} 

