{% extends "layout.html" %}
{% block content %}
    <h3>Candidatos registrados</h3>
    <h6 class="text-right font-weight-light">
        <a href="{{ url_for('create_candidate') }}">Registra un nuevo candidato</a>
    </h6>

    <div class="input-group mb-4">
        <span class="input-group-addon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
        </span>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busca un candidato..." title="Ingresa un nombre"/>
    </div>


    <div id="search_items">
        {% for candidate in candidates.items %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('candidates', category_id=candidate.category.id) }}">{{ candidate.category.name }}</a>
                <small class="text-muted">{{ candidate.status.name }}</small>
                <small class="text-muted ml-2">Registrado el {{ candidate.creation_date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('candidate', candidate_id=candidate.id) }}">{{ candidate.name }}</a></h2>
            <p class="article-content">{{ candidate.description }}</p>
        </div>
        </article>
    {% endfor %}
    </div>


    {% for page_num in candidates.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if candidates.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}"> {{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}"> {{ page_num }}</a>
            {% endif %}
        {% else %}
        ...
        {% endif %}

    {% endfor %}

{% endblock content %} 

