{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ oferta.categoria.name }}</a>
                <small class="text-muted">{{ oferta.estado.name }}</small>
                <small class="text-muted ml-2">Registrado el {{ oferta.fecha_creacion.strftime('%Y-%m-%d') }}</small>

            </div>
            <h2><a class="article-title" href="#">{{ oferta.nombre }}</a></h2>
            <p class="article-content">{{ oferta.descripcion }}</p>
           
        </div>
    </article>
{% endblock content %}