{% extends "layout.html" %}
{% block content %}
    <h3>Ofertas registradas</h3>
    <h6 class="text-right font-weight-light">
        <a href="{{ url_for('nueva_oferta') }}">Crear oferta</a>
    </h6>
    {% for offer in ofertas %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ offer.categoria.name }}</a>
                <small class="text-muted">{{ offer.estado.name }}</small>
                <small class="text-muted ml-2">Registrado el {{ offer.fecha_creacion.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('oferta', oferta_id=offer.id) }}">{{ offer.nombre }}</a></h2>
            <p class="article-content">{{ offer.descripcion }}</p>
        </div>
        </article>
    {% endfor %}

{% endblock content %} 

