{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div class="col-md-4 row" >
            <form method="post" id="multiple_select_form" action="{{ url_for('offer', offer_id=offer.id) }}">
            <select name="skills" id="skills" class="form-control selectpicker" data-live-search="true" multiple>
                {% for candidate in candidates %}
                    {% if candidate.category == offer.category%}
                        <option value="{{candidate.id}}">{{candidate.name}}, ID {{candidate.id}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <input type="hidden" name="hidden_skills" id="hidden_skills" />
            <input type="submit" name="submit" class="mt-2 btn btn-info" value="Enviar" />
            </form>
        </div>
    </div>


    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ offer.category.name }}</a>
                <small class="text-muted">{{ offer.status.name }}</small>
                <small class="text-muted ml-2">Registrado el {{ offer.creation_date.strftime('%Y-%m-%d') }}</small>

            </div>
            <h2><a class="article-title" href="#">{{ offer.name }}</a></h2>
            <p class="article-content">{{ offer.description }}</p>
        </div>

        
        <p class="article-content">Candidatos postulados
            <ul>
                {% for candidate in offer.candidates %}
                <li>
                    <a href="{{ url_for('candidate', candidate_id=candidate.id) }}">{{candidate.name}}</a>
                </li>                    
                {% endfor %}
            </ul>
        </p>

    </article>
{% endblock content %}